@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body
{
    margin: 0;
    background: #FBF5F3;
}

::selection
{
    background: #d34161;
}

.container
{
    width: 100vw;
    height: 100vh;
    background: #FBF5F3;
    display: flex;
    justify-content: center;
}

.container .main
{
    width: 75vw;
    margin-right: 25vw;
    height: 100vh;
    background: #FBF5F3;
    transition: all .7s;
}

.container .main .header
{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .main .header .disconnect input
{
    background: none;
    border: none;
    margin-right: 30px;
    font-size: 22px;
    opacity: 100%;
    color: #d34161;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

.container .main .header .information h4
{
    background: none;
    border: none;
    margin-right: 30px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    opacity: 100%;
    color: #d34161;
}


.container .main .header .disconnect input:hover
{
    opacity: 70%;
}

.container .main .shortener
{
    width: 100%;
    height: 76vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .main .shortener .logo
{
    margin-top: 20vh;
    width: 450px;
    height: 165px;
    background-image: url("https://i.imgur.com/9GCPmKX.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: .2s;
}

.container .main .shortener .logo:hover
{
    opacity: 90%;
    transform: scale(.99);
}

.container .main .shortener .inputs
{
    width: 450px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .main .shortener .inputs .url-input
{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    height: 38px;
    background: #ebb0bb;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 30px;
    cursor: text;
    overflow: hidden;
    opacity: 100%;
    transition: .2s;
}

::placeholder
{
    color: #876a70;
}

.container .main .shortener .inputs .url-input:hover
{
    opacity: 90%;
}

.container .main .shortener .inputs .url-input:active
{
    transform: scale(.95);
}

.container .main .shortener .inputs .submit-input
{
    width: 100px;
    height: 40px;
    background: #00CC66;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.container .main .shortener .inputs .submit-input:hover
{
    transform: scale(0.95);
    background: #14e27b;
}

.container .main .shortener .inputs .submit-input:active
{
    transform: scale(0.9);
    background: #29f18d;
}

.container .main .scroll
{
    width: 100%;
    height: 12vh;
}

.popup
{
    position: absolute;
    width: 30vw;
    margin-left: 35vw;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border-radius: 40px;
    height: 50px;
    background: #EE4266;
    animation: popup 4s ease-in-out;
}

@keyframes popup {
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(70px);
    }
    85% {
        transform: translateY(70px);
    }
    100% {
        transform: translateY(0px);
    }
}

.side-panel
{
    width: 25vw;
    height: 100vh;
    background: #EE4266;
    display: flex;
    position: fixed;
    right: 0;
    transform: translateX(0);
    transition: transform .7s;
}

.side-panel .hide
{
    width: 3vw;
    height: 100vh;
    background: #00CC66;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.side-panel .hide .button
{
    width: 2.5vw;
    height: 120px;
    background: #0abe64;
    transform: rotateY(180deg);
    border-radius: 30px;
    background-position: .6vw center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url("https://i.imgur.com/Q4zo1MN.png");
    cursor: pointer;
    transition: .3s;
}

.side-panel .hide .button:hover
{
    background: #07b15c;
    background-position: .6vw center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url("https://i.imgur.com/Q4zo1MN.png");
    transform: rotateY(180deg) scale(.95);
}

/* Modifications de François */

.logsInputs
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.container .main .shortener .inputs .logs-inputs
{
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    height: 38px;
    background: #ebb0bb;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    cursor: text;
    overflow: hidden;
    opacity: 100%;
    transition: .2s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    box-shadow: 0 0 0 30px #ebb0bb inset !important;
}

::placeholder
{
    color: #876a70;
}

.container .main .shortener .inputs .logs-inputs:active
{
    transform: scale(.95);
}

.container .main .shortener .inputs .connectButton
{
    width: 160px;
    height: 40px;
    background: #00CC66;
    margin-left: 10px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBF5F3;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.container .main .shortener .inputs .connectButton:hover
{
    transform: scale(0.95);
    background: #14e27b;
}

.container .main .shortener .inputs .connectButton:active
{
    transform: scale(0.9);
    background: #29f18d;
}

.container .main .scroll
{
    width: 100%;
    height: 12vh;
}

.container .main .shortener .logLink{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #00CC66;
    font-size: 12px;
}

.container .main .shortener .logLink:hover{
    text-decoration: underline;
    color: #00CC66;
}

.container .main .shortener .loginPage{
    display: flex;
    flex-direction: column;
}

.container .main .shortener .loginPage .logsInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.container .main .shortener .loginPage .logZone{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

/* ------------------- */

.container .main .shortener .SigninPage{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container .main .shortener .SigninPage input{
    width: 410px;
    margin: 5px 0 5px 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    height: 38px;
    background: #ebb0bb;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    cursor: text;
    overflow: hidden;
    opacity: 100%;
    transition: .2s;
}

.container .main .shortener input.signinButton
{
    width: 225px;
    height: 40px;
    background: #00CC66;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBF5F3;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.container .main .shortener input.signinButton:hover
{
    transform: scale(0.95);
    background: #14e27b;
}

.container .main .shortener input.signinButton:active
{
    transform: scale(0.9);
    background: #29f18d;
}

.container .main .shortener .SigninZone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}